<template>
  <v-container>
    <h1>Course {{ $route.params.id }}</h1>
    <Player :source="{ src, type }" />
    <button
      @click="
        src =
          'https://sample-videos.com/video123/mp4/720/big_buck_bunny_720p_1mb.mp4'
      "
    >
      Change Source
    </button>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    src: require('~/assets/videos/movie.mp4'),
    type: 'video/mp4',
  }),
}
</script>
