.slider {
  $this: &;

  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  height: 24px;

  &--dragging {
    #{$this}__handle,
    #{$this}__fill {
      transition: none;
    }
  }

  &__fill,
  &__handle {
    transition: transform 0.2s ease-out;
  }

  &__bar {
    width: 100%;
    height: 4px;
    background-color: rgb(#fff, 0.2);
    position: relative;
  }

  &__handle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: calc(50% - 7px);
    z-index: 2;
  }

  &__fill {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(107, 200, 228);
    z-index: 1;
    transform: scale(0);
  }
}
