<template>
  <v-container style="padding-top: 20px">
    <v-row style="justify-content: space-between">
      <span style="font-size: 2em">Manage courses</span>
      <v-btn color="green lighten-2">Add</v-btn>
    </v-row>
    <v-row>
      <v-card
        v-for="course in courses"
        :key="course.id"
        class="mx-auto"
        max-width="400"
      >
        <v-img :src="require(`~/assets/images/${course.thumbnail}`)"></v-img>
        <v-card-title>
          {{ course.name }}
        </v-card-title>
        <v-card-subtitle>
          {{ course.description }}
        </v-card-subtitle>
        <v-card-actions>
          <v-btn color="orange lighten-2">Manage</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="blue lighten-2" :to="'/courses/' + course.id" nuxt
            >View</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      courses: [
        {
          id: 1,
          name: 'Vue JS',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          thumbnail: 'thumbnail.jpg',
          tags: ['vue js', 'programming', 'beginner'],
        },
        {
          id: 2,
          name: 'Nuxt JS',
          description: 'Morbi nec porttitor urna. Integer id arcu magna',
          thumbnail: 'thumbnail.jpg',
          tags: ['vue js', 'programming', 'beginner'],
        },
        {
          id: 3,
          name: 'Laravel',
          description:
            'Fusce vel mi suscipit, pretium urna a, rutrum sapien. Duis iaculis ullamcorper',
          thumbnail: 'thumbnail.jpg',
          tags: ['vue js', 'programming', 'beginner'],
        },
        {
          id: 4,
          name: 'Vueitfy',
          description:
            'Sed venenatis turpis nec orci viverra, id tempus orci egestas. Donec vulputate porttitor bibendum.',
          thumbnail: 'thumbnail.jpg',
          tags: ['vue js', 'programming', 'beginner'],
        },
        {
          id: 5,
          name: 'Vue JS',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
          thumbnail: 'thumbnail.jpg',
          tags: ['vue js', 'programming', 'beginner'],
        },
        {
          id: 6,
          name: 'Nuxt JS',
          description: 'Morbi nec porttitor urna. Integer id arcu magna',
          thumbnail: 'thumbnail.jpg',
          tags: ['vue js', 'programming', 'beginner'],
        },
        {
          id: 7,
          name: 'Laravel',
          description:
            'Fusce vel mi suscipit, pretium urna a, rutrum sapien. Duis iaculis ullamcorper',
          thumbnail: 'thumbnail.jpg',
          tags: ['vue js', 'programming', 'beginner'],
        },
        {
          id: 8,
          name: 'Vueitfy',
          description:
            'Sed venenatis turpis nec orci viverra, id tempus orci egestas. Donec vulputate porttitor bibendum.',
          thumbnail: 'thumbnail.jpg',
          tags: ['vue js', 'programming', 'beginner'],
        },
      ],
    }
  },
}
</script>
