<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list>
        <v-list-item
          v-for="[icon, url, text] in siderBarlinks"
          :key="icon"
          :to="url"
          link
          nuxt
        >
          <v-list-item-icon>
            <v-icon>{{ icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <template v-if="$auth.loggedIn">
          <v-divider></v-divider>
          <v-list-item
            v-for="[icon, url, text] in authSiderBarlinks"
            :key="icon"
            :to="url"
            link
            nuxt
          >
            <v-list-item-icon>
              <v-icon>{{ icon }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
        <v-divider></v-divider>
        <v-list-item
          v-for="[icon, url, text] in genericBarLinks"
          :key="icon"
          :to="url"
          link
          nuxt
        >
          <v-list-item-icon>
            <v-icon>{{ icon }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <v-toolbar-title>Snapify</v-toolbar-title>

      <v-responsive
        style="display: flex; justify-content: center; align-items: center"
      >
        <v-text-field
          rounded
          solo
          style="width: 400px; margin: auto; height: 100%"
        />
      </v-responsive>

      <v-tabs
        v-if="$auth.loggedIn"
        color="grey darken-1"
        class="flex-grow-0 flex-shrink-0 width-auto"
        style="width: auto"
      >
        <v-tab>Hi, {{ $auth.user.name }}</v-tab>
        <v-tab @click="logout"> Logout </v-tab>
      </v-tabs>
      <v-tabs
        v-else
        color="grey darken-1"
        class="flex-grow-0 flex-shrink-0 width-auto"
        style="width: auto"
      >
        <v-tab v-for="[url, text] in navBarLinks" :key="url" :to="url" nuxt>
          {{ text }}
        </v-tab>
      </v-tabs>
    </v-app-bar>

    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    navBarLinks: [
      ['/login', 'Login'],
      ['/register', 'Register'],
    ],
    siderBarlinks: [
      ['mdi-home', '/', 'Home'],
      ['mdi-video', '/courses', 'Courses'],
      ['mdi-filmstrip-box-multiple', '/categories', 'Categories'],
    ],
    genericBarLinks: [['mdi-information', '/about', 'About']],
    authSiderBarlinks: [
      ['mdi-video-plus', '/manage', 'Manage'],
      ['mdi-account', '/account', 'Account'],
    ],
  }),
  methods: {
    logout() {
      this.$auth.logout().then()
      this.$toast.success('Logged Out', { duration: 1000 })
    },
  },
}
</script>
