<template>
  <div class="d-flex justify-center align-center fill-height">
    <v-card width="600">
      <v-card-title>Login</v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="form.email"
            :rules="form.emailRules"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
            v-model="form.password"
            :rules="form.passwordRules"
            label="Password"
            type="password"
            required
          ></v-text-field>
          <v-btn :disabled="!valid" color="success" class="mr-4" @click="login">
            Login
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      form: {
        email: '',
        emailRules: [
          (v) => !!v || 'E-mail is required',
          (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        password: '',
        passwordRules: [(v) => !!v || 'Password is required'],
      },
    }
  },
  methods: {
    login() {
      this.$auth
        .loginWith('laravelSanctum', {
          data: this.form,
        })
        .then((response) => {
          this.$toast.success('Logged In', { duration: 1000 })
          this.$router.push({
            path: '/',
          })
        })
        .catch((err) => console.log(err))
    },
  },
}
</script>
