<template>
  <div class="d-flex justify-center align-center fill-height">
    <v-card width="600">
      <v-card-title>Register</v-card-title>
      <v-card-text>
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-text-field
            v-model="form.name"
            :rules="rules.nameRules"
            label="Name"
            required
          ></v-text-field>
          <v-text-field
            v-model="form.email"
            :rules="rules.emailRules"
            label="E-mail"
            required
          ></v-text-field>
          <v-text-field
            v-model="form.password"
            :rules="rules.passwordRules"
            label="Password"
            type="password"
            required
          ></v-text-field>
          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="register"
          >
            Login
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: true,
      form: {
        name: '',
        email: '',
        password: '',
      },
      rules: {
        nameRules: [(v) => !!v || 'Name is required'],
        emailRules: [
          (v) => !!v || 'E-mail is required',
          (v) => /.+@.+\..+/.test(v) || 'E-mail must be valid',
        ],
        passwordRules: [(v) => !!v || 'Password is required'],
      },
    }
  },
  methods: {
    async register() {
      try {
        await this.$axios.get('/laravel/sanctum/csrf-cookie')
        console.log(this.form)
        await this.$axios.post('/laravel/register', this.form)
        await this.$auth
          .loginWith('laravelSanctum', {
            data: this.form,
          })
          .then(() => {
            this.$toast.success('Registered!', { duration: 1000 })
            this.$router.push({
              path: '/',
            })
          })
      } catch (error) {}
    },
  },
}
</script>
