.player {
  position: relative;
  width: 100%;

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  &__sizer {
    width: 100%;
    padding-top: 56.25%;
    position: relative;
    height: auto;
  }

  &__loader {
    position: absolute;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
    z-index: 1;
  }

  &__gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    height: 96px;
    opacity: 0.9;
    pointer-events: none;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__seeker-buffered {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.25);
    z-index: 0;
  }

  &__time {
    color: #fff;
  }
}
